### Source
*.o
*.lo
*.mod
*.so
*.a
*.log
*.status
*~
*.swp
*.docx

*.orig

src/Makeconf
src/Makevars
src/build
src/build_papi
src/configure


### Latex
*.aux
*.bbl
*.blg
*.out
*.toc
*.tex.backup
*.pdf


### Misc
*.indent.pro


### PAPI build
src/papi-*/src/components/perf_event/tests/
src/papi-*/src/components/perf_event_uncore/tests/*
src/papi-*/src/ftests/*
src/papi-*/src/genpapifdef
src/papi-*/src/papi_events_table.h
src/papi-*/src/papi_fwrappers_.c
src/papi-*/src/papi_fwrappers__.c
src/papi-*/src/upper_PAPI_FWRAPPERS.c
src/papi-*/src/papi.pc

src/papi-*/src/ctests/*
src/papi-*/src/utils/*

src/papi-*/src/Makefile
src/papi-*/src/autom4te.cache/requests
src/papi-*/src/ctests/mpifirst
src/papi-*/src/bin/
src/papi-*/src/include/
src/papi-*/src/lib/
src/papi-*/src/share/

src/papi-*/src/components/Makefile_comp_tests.target
src/papi-*/src/components_config.h
src/papi-*/src/config.h
src/papi-*/src/ctests/Makefile.target
src/papi-*/src/f77papi.h
src/papi-*/src/f90papi.h
src/papi-*/src/fpapi.h
src/papi-*/src/ftests/Makefile.target
src/papi-*/src/libpapi.so.*.0
src/papi-*/src/libpfm4/lib/libpfm.so.4
src/papi-*/src/libpfm4/lib/libpfm.so.4.4.0
src/papi-*/src/man/
src/papi-*/src/testlib/Makefile.target

src/libipcm/*/.bdsignore.all
