*.o
*.lo
*.mod
*.so
*.a
*.log
*.status
*~
*.swp

src/Makeconf
src/Makevars
src/build

src/papi-5.3.0/src/components/perf_event/tests/perf_event_offcore_response
src/papi-5.3.0/src/components/perf_event/tests/perf_event_system_wide
src/papi-5.3.0/src/components/perf_event/tests/perf_event_user_kernel
src/papi-5.3.0/src/components/perf_event_uncore/tests/perf_event_amd_northbridge
src/papi-5.3.0/src/components/perf_event_uncore/tests/perf_event_uncore
src/papi-5.3.0/src/components/perf_event_uncore/tests/perf_event_uncore_cbox
src/papi-5.3.0/src/components/perf_event_uncore/tests/perf_event_uncore_multiple
src/papi-5.3.0/src/ftests/accum
src/papi-5.3.0/src/ftests/avail
src/papi-5.3.0/src/ftests/case1
src/papi-5.3.0/src/ftests/case2
src/papi-5.3.0/src/ftests/clockres
src/papi-5.3.0/src/ftests/cost
src/papi-5.3.0/src/ftests/description
src/papi-5.3.0/src/ftests/eventname
src/papi-5.3.0/src/ftests/fdmemtest
src/papi-5.3.0/src/ftests/first
src/papi-5.3.0/src/ftests/flops
src/papi-5.3.0/src/ftests/fmatrixlowpapi
src/papi-5.3.0/src/ftests/fmatrixpapi
src/papi-5.3.0/src/ftests/fmatrixpapi2
src/papi-5.3.0/src/ftests/fmultiplex1
src/papi-5.3.0/src/ftests/fmultiplex2
src/papi-5.3.0/src/ftests/highlevel
src/papi-5.3.0/src/ftests/johnmay2
src/papi-5.3.0/src/ftests/second
src/papi-5.3.0/src/ftests/strtest
src/papi-5.3.0/src/ftests/tenth
src/papi-5.3.0/src/ftests/zero
src/papi-5.3.0/src/ftests/zeronamed
src/papi-5.3.0/src/genpapifdef
src/papi-5.3.0/src/papi_events_table.h
src/papi-5.3.0/src/papi_fwrappers_.c
src/papi-5.3.0/src/papi_fwrappers__.c
src/papi-5.3.0/src/upper_PAPI_FWRAPPERS.c

src/papi-5.3.0/src/ctests/all_events
src/papi-5.3.0/src/ctests/all_native_events
src/papi-5.3.0/src/ctests/api
src/papi-5.3.0/src/ctests/attach2
src/papi-5.3.0/src/ctests/attach3
src/papi-5.3.0/src/ctests/attach_target
src/papi-5.3.0/src/ctests/branches
src/papi-5.3.0/src/ctests/burn
src/papi-5.3.0/src/ctests/byte_profile
src/papi-5.3.0/src/ctests/calibrate
src/papi-5.3.0/src/ctests/case1
src/papi-5.3.0/src/ctests/case2
src/papi-5.3.0/src/ctests/child_overflow
src/papi-5.3.0/src/ctests/clockres_pthreads
src/papi-5.3.0/src/ctests/cmpinfo
src/papi-5.3.0/src/ctests/code2name
src/papi-5.3.0/src/ctests/cycle_ratio
src/papi-5.3.0/src/ctests/data_range
src/papi-5.3.0/src/ctests/derived
src/papi-5.3.0/src/ctests/describe
src/papi-5.3.0/src/ctests/disable_component
src/papi-5.3.0/src/ctests/dmem_info
src/papi-5.3.0/src/ctests/earprofile
src/papi-5.3.0/src/ctests/eventname
src/papi-5.3.0/src/ctests/exec
src/papi-5.3.0/src/ctests/exec2
src/papi-5.3.0/src/ctests/exec_overflow
src/papi-5.3.0/src/ctests/exeinfo
src/papi-5.3.0/src/ctests/first
src/papi-5.3.0/src/ctests/flops
src/papi-5.3.0/src/ctests/fork
src/papi-5.3.0/src/ctests/fork2
src/papi-5.3.0/src/ctests/fork_overflow
src/papi-5.3.0/src/ctests/forkexec
src/papi-5.3.0/src/ctests/forkexec2
src/papi-5.3.0/src/ctests/forkexec3
src/papi-5.3.0/src/ctests/forkexec4
src/papi-5.3.0/src/ctests/get_event_component
src/papi-5.3.0/src/ctests/high-level
src/papi-5.3.0/src/ctests/high-level2
src/papi-5.3.0/src/ctests/hl_rates
src/papi-5.3.0/src/ctests/hwinfo
src/papi-5.3.0/src/ctests/inherit
src/papi-5.3.0/src/ctests/ipc
src/papi-5.3.0/src/ctests/johnmay2
src/papi-5.3.0/src/ctests/krentel_pthreads
src/papi-5.3.0/src/ctests/kufrin
src/papi-5.3.0/src/ctests/locks_pthreads
src/papi-5.3.0/src/ctests/low-level
src/papi-5.3.0/src/ctests/matrix-hl
src/papi-5.3.0/src/ctests/max_multiplex
src/papi-5.3.0/src/ctests/memory
src/papi-5.3.0/src/ctests/mendes-alt
src/papi-5.3.0/src/ctests/multiattach
src/papi-5.3.0/src/ctests/multiattach2
src/papi-5.3.0/src/ctests/multiplex1
src/papi-5.3.0/src/ctests/multiplex1_pthreads
src/papi-5.3.0/src/ctests/multiplex2
src/papi-5.3.0/src/ctests/multiplex3_pthreads
src/papi-5.3.0/src/ctests/nmi_watchdog
src/papi-5.3.0/src/ctests/omptough
src/papi-5.3.0/src/ctests/overflow
src/papi-5.3.0/src/ctests/overflow2
src/papi-5.3.0/src/ctests/overflow3_pthreads
src/papi-5.3.0/src/ctests/overflow_allcounters
src/papi-5.3.0/src/ctests/overflow_force_software
src/papi-5.3.0/src/ctests/overflow_index
src/papi-5.3.0/src/ctests/overflow_one_and_read
src/papi-5.3.0/src/ctests/overflow_pthreads
src/papi-5.3.0/src/ctests/overflow_single_event
src/papi-5.3.0/src/ctests/overflow_twoevents
src/papi-5.3.0/src/ctests/p4_lst_ins
src/papi-5.3.0/src/ctests/profile
src/papi-5.3.0/src/ctests/profile_force_software
src/papi-5.3.0/src/ctests/profile_pthreads
src/papi-5.3.0/src/ctests/profile_twoevents
src/papi-5.3.0/src/ctests/pthrtough
src/papi-5.3.0/src/ctests/pthrtough2
src/papi-5.3.0/src/ctests/realtime
src/papi-5.3.0/src/ctests/remove_events
src/papi-5.3.0/src/ctests/reset
src/papi-5.3.0/src/ctests/reset_multiplex
src/papi-5.3.0/src/ctests/sdsc-mpx
src/papi-5.3.0/src/ctests/sdsc2-mpx
src/papi-5.3.0/src/ctests/sdsc4-mpx
src/papi-5.3.0/src/ctests/second
src/papi-5.3.0/src/ctests/shlib
src/papi-5.3.0/src/ctests/sprofile
src/papi-5.3.0/src/ctests/system_child_overflow
src/papi-5.3.0/src/ctests/system_overflow
src/papi-5.3.0/src/ctests/tenth
src/papi-5.3.0/src/ctests/thrspecific
src/papi-5.3.0/src/ctests/timer_overflow
src/papi-5.3.0/src/ctests/virttime
src/papi-5.3.0/src/ctests/zero
src/papi-5.3.0/src/ctests/zero_attach
src/papi-5.3.0/src/ctests/zero_flip
src/papi-5.3.0/src/ctests/zero_fork
src/papi-5.3.0/src/ctests/zero_named
src/papi-5.3.0/src/ctests/zero_omp
src/papi-5.3.0/src/ctests/zero_pthreads
src/papi-5.3.0/src/ctests/zero_shmem
src/papi-5.3.0/src/ctests/zero_smp
src/papi-5.3.0/src/utils/papi_avail
src/papi-5.3.0/src/utils/papi_clockres
src/papi-5.3.0/src/utils/papi_command_line
src/papi-5.3.0/src/utils/papi_component_avail
src/papi-5.3.0/src/utils/papi_cost
src/papi-5.3.0/src/utils/papi_decode
src/papi-5.3.0/src/utils/papi_error_codes
src/papi-5.3.0/src/utils/papi_event_chooser
src/papi-5.3.0/src/utils/papi_mem_info
src/papi-5.3.0/src/utils/papi_multiplex_cost
src/papi-5.3.0/src/utils/papi_native_avail
src/papi-5.3.0/src/utils/papi_version
src/papi-5.3.0/src/utils/papi_xml_event_info

src/papi-5.3.0/src/Makefile
src/papi-5.3.0/src/autom4te.cache/requests
src/papi-5.3.0/src/ctests/mpifirst
src/papi-5.3.0/src/bin/
src/papi-5.3.0/src/include/
src/papi-5.3.0/src/lib/
src/papi-5.3.0/src/share/

src/papi-5.3.0/src/components/Makefile_comp_tests.target
src/papi-5.3.0/src/components_config.h
src/papi-5.3.0/src/config.h
src/papi-5.3.0/src/ctests/Makefile.target
src/papi-5.3.0/src/f77papi.h
src/papi-5.3.0/src/f90papi.h
src/papi-5.3.0/src/fpapi.h
src/papi-5.3.0/src/ftests/Makefile.target
src/papi-5.3.0/src/libpapi.so.5.3.0.0
src/papi-5.3.0/src/libpfm4/lib/libpfm.so.4
src/papi-5.3.0/src/libpfm4/lib/libpfm.so.4.4.0
src/papi-5.3.0/src/man/
src/papi-5.3.0/src/testlib/Makefile.target

