import(ggplot2, gridExtra)

useDynLib("pbdPAPI", 
  papi_event_avail, papi_epc_on, papi_epc_off, papi_flips_on, 
  papi_flips_off, papi_flops_on, papi_flops_off, papi_hwinfo, 
  R_papi_cpuinfo, papi_hwname, papi_check_counters,
  papi_event_counter_init, papi_event_counter_on,
  papi_event_counter_off, papi_utilization_on, papi_utilization_off
)

### All functions
exportPattern("^system\\.[[:alpha:]]+")
#exportPattern("^papi\\.[[:alpha:]]+")

export(papi.start, papi.stop, hw.info,
  papi.avail, ipcm.avail, counter.avail, 
  print.PAPI, print.IPCM, ipcm.cache)

export(cachebench)

export(plot.papi_cache, print.papi_output, plot.cachebench)
